@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formGroup {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 1rem;
}

.addExerciseContainer {
	width: 100vw;
    height: fit-content;
    align-content: top;
	display: grid;
    position: absolute;
    left: 0;
}
.addExerciseForm {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 2rem;
}

.addExerciseContainer * {
	box-sizing: border-box;
}


.addExerciseContainer > form {
	width: 100%;
	height: fit-content;
	display: grid;
	gap: 2rem;
}

.addExerciseContainer > form > h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.addExerciseContainer > form input {
	width: 100%;
	font-size: 4rem;
	padding: 2rem;
	background: none;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease-in-out;
    color: inherit;
}

.addExerciseContainer > form input:focus {
    outline: none;
    border-top: 1px solid rgba(255,255,255,0.75);
    border-bottom: 1px solid rgba(255,255,255,0.75);
}

.addExerciseContainer > form label {
	text-transform: uppercase;
}

.addExerciseContainer > form button:hover {
	background: rgba(255,255,255,0.1);
}

.formStepButtons {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
	padding: 1rem;
}

.formStepButtons button {
	background: none;
	font-size: 2rem;
	transition: all 0.2s ease-in-out;
    padding: .5rem;
    border: 1px solid transparent;
}

.nextButton {
    justify-self: right;
    color: inherit;
    border-radius: 1rem 0 1rem 1rem;
}

.backButton {
    justify-self: left;
    color: inherit;
    border-radius: 0 1rem 1rem 1rem;
}

.nextButton:focus {
    outline: none;
    color: rgb(50,200,50);
    border: 1px solid rgb(50,200,50);
}

.backButton:focus {
    outline: none;
    color: rgb(50,200,50);
    border: 1px solid rgb(50,200,50);
}



