@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formGroup {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 1rem;
}

.addExerciseContainer {
	width: 100vw;
    height: 100vh;
    align-content: top;
    position: absolute;
    left: 0;
    top: 0;
}
.addExerciseForm {
    width: 100%;
    display: grid;
}

.addExerciseContainer * {
	box-sizing: border-box;
}

.addExerciseForm label {
    padding: 1rem;
    font-size: 1.5rem;
    position: absolute;
}

.addExerciseFormInput {
	width: 100%;
	font-size: 4rem;
	padding: 2rem;
	background: none;
    border: none;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease-in-out;
    color: inherit;
}

.black {
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.black:focus {
    outline: none;
    border-top: 2px solid rgba(0,0,0,0.7);
    border-bottom: 2px solid rgba(0,0,0,0.7);
    background: rgba(0,0,0,0.1);
}

.white {
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.white:focus {
    outline: none;
    border-top: 2px solid rgba(255,255,255,0.7);
    border-bottom: 2px solid rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.1);
}

.addExerciseContainer > form button:hover {
	background: rgba(255,255,255,0.1);
}

.formStepButtons {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
	padding: 1rem ;
}

.formStepButtons button {
	background: none;
	font-size: 2rem;
	transition: all 0.2s ease-in-out;
    padding: .5rem;
    border: 1px solid transparent;
}

.nextButton {
    justify-self: right;
    color: inherit;
    border-radius: 1rem 0 1rem 1rem;
}

.lastStepButton {
    color: inherit;
    border-radius: 0 1rem 1rem 1rem;
    border: 1px solid rgba(255,255,255,0.3);
}

.backButton {
    justify-self: left;
    color: inherit;
    border-radius: 0 1rem 1rem 1rem;
}

.nextButton:focus {
    outline: none;
    color: rgb(50,200,50);
    border: 1px solid rgb(50,200,50);
}

.backButton:focus {
    outline: none;
    color: rgb(50,200,50);
    border: 1px solid rgb(50,200,50);
}

.completedSteps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.formStepCounter {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

