.addExerciseContainer {
	width: 100%;
	height: fit-content;
	padding: 1rem;
	box-sizing: border-box;
	margin-bottom: 5px;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: left;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}

.button {
    background: none;
	font-size: 3.5rem;
	margin: 0.5rem;
    aspect-ratio: 1/1;
    padding: 1.5rem;
    border-radius: 50%;
	display: grid;
	place-content: center;
    margin: auto;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
}

.button > svg {
    fill: inherit;
}

.button:hover, .button:focus {
    transform: scale(1.1);
    outline: none;
    animation: pulse 1s ease-in-out infinite;
}

.black {
    fill: black;
    border-color: black;
}

.white {
    fill: white;
    border-color: white;
}

.white:hover, .white:focus {
    background: white;
    fill: black;
}

.black:hover, .black:focus {
    background: black;
    fill: white;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

