
.dateSliderContainer {
    justify-self: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	backdrop-filter: blur(10px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.black {
    border-color: black;
}

.white {
    border-color: white;
}

.dateSliderDate {
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 50%;
    display: grid;
    transform: translateX(-50%);
    text-align: center;
}

.dateSliderButton {
    display: grid;
    place-content: center;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    background: none;
    color: inherit;
    transition: all 250ms ease-in-out;
    border-radius: 0;
}

.dateSliderButton:hover, .dateSliderButton:focus {
    outline: none;
    background: rgba(127,127,127,0.3);
}







