.blurContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
  animation: fadeIn 0.2s ease-in-out;
}

.nav {
  color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 9999999;
}

.nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  height: 100%;
  place-content: center;
  position: relative;
  top: 0;
}

.nav > ul > li {
  display: flex;
  top: -100%;
  flex-direction: column;
  align-items: center;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}

.navOpen {
  top: calc(100% - 100vh);
}

.navContainer {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  isolation: isolate;
}

.navOpenButton {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  text-transform: lowercase !important;
  all: unset;
  cursor: pointer;
  position: relative;
  padding: 10px;
  color: inherit;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid transparent;
  transition: all 250ms ease-in-out;
}

.navOpenButton > svg {
  transition: all 100ms ease-in-out;
  fill: inherit;
}

.blackOpenButton {
  fill: black;
}

.whiteOpenButton {
  fill: white;
}

.navOpenButton:focus,
.navOpenButton:hover {
  transform: translateY(-100px);
  animation: bounce 1s infinite ease-in-out;
}

.blackOpenButton:hover,
.blackOpenButton:focus {
  border: 1px solid black;
  background: black;
  outline: none;
  fill: white;
}

.whiteOpenButton:hover,
.whiteOpenButton:focus {
  border: 1px solid white;
  background: white;
  outline: none;
  fill: black;
}

.slidingBox {
  width: 100vw;
  height: 500px;
  position: absolute;
  background: black;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.navClose {
  display: grid;
  background: none;
  border: none;
  place-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 1rem 0rem 1rem 1rem;
}

.navClose > svg {
  fill: white;
  transition: all 0.3s ease-in-out;
}

.navClose:hover,
.navClose:focus {
  border: 1px solid rgb(200, 50, 50);
  background: rgb(200, 50, 50);
  outline: none;
  transform: translate(-7px, 7px);
}

.navClose:hover > svg,
.navClose:focus > svg {
  transform: rotate(180deg);
  fill: black;
  stroke: "black";
  stroke-width: "10";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
