.backButton {
    border: 1px solid transparent;
    padding: 0.5rem;
	outline: none;
	cursor: pointer;
	background: none;
	position: absolute;
	top: 1rem;
	left: 1rem;
	box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: 0rem 1rem 1rem 1rem;
}

.backButton:hover {
    background: white;
    border: 1px solid white;
    outline: none;
}

.backButton:focus {
    background: white;
    border: 1px solid white;
    outline: none;
}

.backButton:focus > svg {
    fill: black;
}

.backButton > svg {
    transition: all 0.3s ease-in-out;
}

.toggleSettingsButton {
	border: none;
	outline: none;
	display: grid;
	place-content: center;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: 45px;
	height: 45px;
	background: none;
	cursor: pointer;
	z-index: 100;
	transition: all 0.2s ease-in-out;
    border-radius: 1rem 1rem 0rem 1rem;
}

.toggleSettingsButton:hover {
    border: 1px solid rgb(50,150,250);
    outline: none;
    transform: scale(1.2);
}

.toggleSettingsButton:focus {
    border: 1px solid rgb(50,150,250);
    outline: none;
    transform: scale(1.2);
}

.toggleSettingsButton > svg {
    transition: all 0.3s ease-in-out;
}

.toggleSettingsButton:hover > svg {
    fill: rgb(50,150,250);
    transform: rotate(180deg);
}

.toggleSettingsButton:focus > svg {
    fill: rgb(50,150,250);
    transform: rotate(180deg);
}


.settingsContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	width: 100%;
	height: 100%;
    display: grid;
    place-content: center;
	background-color: rgb(50,150,250);
    backdrop-filter: blur(6px);
    z-index: 30;
    padding: 10rem;
    box-sizing: border-box;
    animation: fadeIn 250ms forwards ease-in-out;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.setting {
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        border: 1px solid silver;
        border-radius: 0 1rem 1rem 1rem;
        padding: 1rem;
}

.setting > select {
  border: none;
  padding: 1rem;
  font-size: 2rem;
  background: rgba(255,255,255,0.1);
  border-radius: 0 .5rem .5rem .5rem;
  color: white;
}


.setting > label {
        font-size: 1.5rem;
        padding: 1rem;
        text-transform: lowercase;
        border-bottom: 1px solid silver;
}


