.backButton {
    border: 1px solid transparent;
    padding: 0.5rem;
	outline: none;
	cursor: pointer;
	background: none;
	position: absolute;
	top: 1rem;
	left: 1rem;
	box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: 0rem 1rem 1rem 1rem;
}

.blackBackButton {
    border: 1px solid transparent;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: 0rem 1rem 1rem 1rem;
    background-color: black;
    color: white;
}

.whiteBackButton {
    border: 1px solid transparent;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: 0rem 1rem 1rem 1rem;
    background-color: white;
    color: black;
}

.blackBackButton:hover, .blackBackButton:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: -7px -7px 0 0 white;
    transform: translate( 7px, 7px );
}

.whiteBackButton:hover, .whiteBackButton:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: -7px -7px 0 0 black;
    transform: translate(7px, 7px);
}


.backButton > svg {
    transition: all 0.3s ease-in-out;
}

.toggleSettingsButton {
	border: none;
	outline: none;
	display: grid;
	place-content: center;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: 45px;
	height: 45px;
	background: none;
	cursor: pointer;
	z-index: 100;
	transition: all 0.2s ease-in-out;
    border-radius: 1rem 1rem 0rem 1rem;
}

.toggleSettingsButton:hover, .toggleSettingsButton:focus {
    border: 1px solid rgb(50,150,250);
    background: rgb(50,150,250);
    outline: none;
    transform: translate( -7px, -7px );
}


.toggleSettingsButton > svg {
    transition: all 0.3s ease-in-out;
}

.toggleSettingsButton:hover > svg, .toggleSettingsButton:focus > svg {
    fill: black;
    transform: rotate(180deg);
}


.settingsContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	width: 100%;
	height: 100%;
    display: grid;
    gap: 2rem;
    place-content: center;
    z-index: 30;
    padding: 10rem;
    box-sizing: border-box;
    animation: fadeIn 250ms forwards ease-in-out;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.setting {
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        border-radius: 0 1rem 1rem 1rem;
        padding: 1rem;
        border-size: 1px;
        border-style: solid;
        border-color: transparent;
        background: rgba(0,0,0,0.2);
}

.black {
    border-color: rgba(0,0,0,0.2);
    color: black;
}

.white {
    border-color: rgba(255,255,255,0.2);
    color: white;
}

.setting > select {
  border: none;
  padding: 1rem;
  font-size: 2rem;
  background: rgba(255,255,255,0.2);
  border-radius: 0 .5rem .5rem .5rem;
  color: inherit;
  transition: all 250ms ease-in-out;
}


.setting > label {
        font-size: 1.5rem;
        padding: 1rem;
        text-transform: lowercase;

}

.setting > select:focus {
    outline: none;
    box-shadow: -7px -7px 0 0 rgba(0,0,0,0.4);
    transform: translate(7px, 7px);
}


