.exerciseContainer {
  display: grid;
  grid-template-columns: 4rem fit-content(100%) 1fr;
  justify-content: left;
  padding: 1rem;
  position: relative;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

.tagsContainer {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
  margin-left: 2rem;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .exerciseContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .tagsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

.black {
  border-bottom: 1px solid rgb(30, 30, 30);
}

.white {
  border-bottom: 1px solid silver;
}

.addTag {
  display: grid;
  place-content: center;
  border-radius: 1rem 1rem 0 1rem;
  width: 4rem;
  padding: 0.5rem;
  border-color: black;
  border-size: 1px;
  border-style: solid;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.addTag:hover,
.addTag:focus {
  background: black;
  color: white;
}

.removeExercise {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  padding: 0;
  color: inherit;
  border-radius: 0;
  height: 100%;
  width: 3rem;
  opacity: 0.5;
}

.removeExercise:hover,
.removeExercise:focus {
  width: 4rem;
  opacity: 1;
  background: rgba(200, 50, 100, 0.5);
  outline: none;
}

.saveStagedButton {
  width: 100%;
}
