

.tagThemePickerContainer {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 40vh;
    display: flex;
    place-content: center;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

.tagThemePickerContainer::-webkit-scrollbar {
    display: none;
}


.palette {
    height: 80%;
    max-width: 500px;
    display: grid;
    place-content: center;
    position: relative;
    bottom: 0;
    transform: translateY(20%);
    text-align: center;
}

.palette h2 {
    font-size: 1.5rem;
    text-transform: lowercase;
    font-weight: bold;
    margin: 0;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.colorSelector {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    border-radius: 0 1rem 1rem 1rem;

}


.colorSelector:hover, .colorSelector:focus {
    transform: translateY(-10%);
}
